@media screen and (max-width: 480px) {
    *{
        width:auto;
    }
    body {
        margin: 0;
        padding: 42px;
       
    }
    
    .andhra {
        height: 39px;
        max-width: 96%;
    }

   

    

    footer {
        font-size: 19x;
    }
}

        body{
            margin:-58px;
            display: flex;
            height:100vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
           
            background-color: rgb(148, 244, 244);
        }
        li{
            color:white;
            display: flex;
            align-items: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: larger;
            margin:150px;
            
        }
        .b>img{
            
            width: 35px;
            height:30px;
        }
        nav{
            margin: -4px;
            padding: 5px;
            background-color: black;
            height:40px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        ul{
            display: flex;
            justify-content: space-between;
            
        }
        h6{
            font-size: larger;
            font-weight: 700;
        }
        .num{
             border-radius: 10px; 
            height:25px;
            border: 1px solid rgb(225, 207, 207);
            gap:10px;
                }
           .btn{
            font-size: 10px;
            color:white;
            font-weight: 600;
            background-color: green;
            border-radius:6px;
            padding:5px 10px;
           }
           .center{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;          
           }
           footer{
            animation: color 1s infinite alternate;
           }
           @keyframes color {
            0%{
                color:rgb(212, 33, 144);
            }  
            50%{
                color:blue
            }          
           }